# Toddler Project
## Players Data Analysis

In this notebook, we’ll explore the player_data dataset and player_financial datasets and merge them.

### Loading the Dataset
We will load in all our packages and our datasets all at once in the beginning.

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

baby = pd.read_csv('players_data-2024_2025.csv')
toddler = pd.read_csv('Player_Financial.csv')

### Merging the Datasets
Now, we will merge our two datasets into one.

In [15]:

merged_data = pd.merge(baby, toddler, on="Player", how="inner")

merged_data.to_csv("merged_player_data.csv", index=False)

merged_data.head()

,Rk,Player,Nation_x,Pos,Squad_x,Comp,Age,Born,MP,Starts,...,#OPA/90,AvgDist,Squad_y,Nation_y,Market_Value_EUR,Weekly_Salary_EUR,Contract_Expiry,Height_cm,Weight_kg,Preferred_Foot
0,1,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25.0,2000.0,3,1,...,NaN,NaN,Bournemouth,eng ENG,"15,000,000","50,000",2027-06-30,180,75,Right
1,1,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25.0,2000.0,3,1,...,NaN,NaN,Valencia,eng ENG,"12,000,000","45,000",2026-12-31,180,75,Right
2,2,Max Aarons,eng ENG,MF,Valencia,es La Liga,25.0,2000.0,1,0,...,NaN,NaN,Bournemouth,eng ENG,"15,000,000","50,000",2027-06-30,180,75,Right
3,2,Max Aarons,eng ENG,MF,Valencia,es La Liga,25.0,2000.0,1,0,...,NaN,NaN,Valencia,eng ENG,"12,000,000","45,000",2026-12-31,180,75,Right
4,3,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21.0,2003.0,1,1,...,NaN,NaN,Valencia,es ESP,"5,000,000","20,000",2026-12-31,178,72,Left

### Why I chose Inner Merge

I opted for an inner join to ensure that only records appearing in both datasets are included in the final merged dataset. This approach:

Eliminates unmatched records, preserving data accuracy.
Ensures completeness, as every Player in the final dataset contains both Player data and Financial Data.